@import "fonts";
@import "_reset";
@import "_vars";
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: $text-font;
  background-color: #f2f3f5;
}

.b-tab {
  display: none;
}

.b-tab.active {
  display: block;
}

.b-nav-tab.active {
  @include bgpink;
}

img {
  max-width: 100%;
  height: auto;
  width: auto;
}

.container {
  max-width: $xl;
  margin: 0 auto;
}

.header {
  display: none;
  background-color: #ffffff;
  &__wrapper {
    max-width: $x4;
    padding: 23px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logos {
    display: flex;
  }
  &__logo {
    padding-right: 36px;
  }
  &__btn {
    flex-shrink: 0;
    margin-left: 39px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: none;
    background-color: rgba(228, 0, 57, 1);
  }
  &__btn-line {
    margin-top: 2px;
    display: inline-block;
    width: 18px;
    height: 2px;
    border-radius: 2px;
    background-color: #ffffff;
  }
}

.burger-menu {
  display: none;
  padding: 18px 0 0 16px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;
  width: 375px;
  height: 100vh;
  background: rgba(242, 243, 245, 1);
  &__logo {
    display: none;
  }
  &__list {
    font-family: $text-font;
    font-size: 20px;
    font-weight: 600;
    margin: 19% 0 0 0;
  }
  &__item {
    margin-bottom: 40px;
    text-transform: uppercase;
  }
  &__item>a {
    color: #141414;
  }
  &__links {
    margin: 35px 0 81px 0;
    display: flex;
  }
  &__link {
    opacity: 0.6;
    filter: brightness(0);
    margin-right: 5px;
    width: 35px;
    border: 1px solid rgba(142, 142, 142, 1);
    padding: 10px;
    border-radius: 12px;
  }
  &__btn {
    @include bgpink;
    font-weight: 600;
    font-size: 16px;
    line-height: 48px;
    color: rgba(255, 255, 255, 1);
    border-radius: 32px;
    padding: 0 20px;
  }
  &__place {
    font-size: 16px;
    font-weight: 500;
    line-height: 18.85px;
    margin: 15px 0 40px 0;
  }
  &__date {
    max-width: 120px;
    font-size: 22px;
    font-weight: 500;
    line-height: 20px;
    margin: 0;
  }
}

hr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.active {
  display: block;
}

.burger_btn-active {
  border-radius: 50%;
  transition: all 0.6s;
  position: relative;
  z-index: 51;
  .bar1 {
    position: absolute;
    transform: rotate(135deg);
    transition: all 0.9s;
  }
  .bar2 {
    background: transparent;
  }
  .bar3 {
    position: absolute;
    transform: rotate(-135deg);
    transition: all 0.9s;
  }
}

.noScroll {
  overflow: hidden;
}

.first-screen {
  overflow-x: hidden;
  background: $pink;
  position: relative;
  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: calc((100% - $xl) / 2);
    width: 100%;
    max-width: $xl;
    height: 100%;
    background-image: url('../img/background-first-screen.png');
    background-repeat: no-repeat;
    background-position: bottom;
  }
}

.banner {
  padding: 390px 0 260px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  &__img {
    position: absolute;
    bottom: 0;
    left: 4%;
    z-index: 2;
  }
  &__title {
    margin: 0;
    text-transform: uppercase;
    font-family: $heading-font;
    color: #ffffff;
    font-size: 92px;
    font-weight: 700;
    line-height: 92px;
    letter-spacing: 0em;
    text-align: left;
    position: relative;
    z-index: 3;
    width: min-content;
  }
}

h2 {
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
}

.second-screen {
  background: $grey;
}

.pinkcolor {
  @include pink;
}

.about-event {
  &__wrapper {
    max-width: $xl;
    padding-top: 49px;
    display: flex;
    justify-content: space-between;
  }
  &__details {
    width: 23%;
  }
  &__date {
    font-weight: 500;
    font-size: 32px;
    line-height: 20px;
    margin: 36px 0 60px 0;
  }
  &__time {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 7%;
    color: #979797;
  }
  &__place {
    font-size: 16px;
    font-weight: 500;
    line-height: 18.85px;
  }
  &__text {
    max-width: 67%;
    width: 100%;
    padding-top: 21px;
    font-size: 20px;
    line-height: 28px;
    &>p {
      margin: 1em 0;
    }
  }
}

.third-screen {
  overflow-x: hidden;
}

.stars {
  padding: 130px 0 0 0;
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__text {
    margin-top: 34px;
    font-family: $text-font;
    font-size: 20px;
    line-height: 28px;
    max-width: 890px;
    width: 100%;
  }
  &__btns {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  &__btn {
    @include bgpink;
    margin-top: 16px;
    font-weight: 600;
    font-size: 22px;
    line-height: 56px;
    color: rgba(255, 255, 255, 1);
    border-radius: 32px;
    padding: 0 32px;
  }
}

.fourth-screen {
  background-color: #ffffff;
  border-radius: 40px;
}

.timetable {
  padding: 100px 0 150px 0;
  &__title {
    margin-bottom: 10px;
    line-height: 72px;
  }
  &__subtitle {
    font-size: 20px;
    line-height: 28px;
    color: #141414;
    max-width: 443px;
    width: 100%;
    letter-spacing: 0.2px;
    margin-bottom: 42px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__tabs {
    display: flex;
    flex-direction: column;
  }
  &__tab {
    margin-right: 14px;
    background-color: rgba(194, 194, 194, 1);
    display: flex;
    justify-content: space-between;
    width: 460px;
    height: 98px;
    margin-bottom: 20px;
    border-radius: 30px;
    padding: 20px 26px 20px 20px;
  }
  &__date {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 5%;
    padding: 15px 30px 15px 30px;
    border-radius: 17px;
    border: 1px solid #ffffff;
    color: #ffffff;
    width: 194px;
    text-transform: uppercase;
  }
  &__content {
    width: 66%;
    border-radius: 30px;
  }
  &__event {
    padding: 24px;
    border-radius: 30px;
    background: rgba(210, 212, 216, 0.14);
    display: flex;
    margin-bottom: 15px;
  }
  &__event-info {
    margin-left: 32px;
    padding: 17px 0 17px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__event-name {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 14px;
  }
  &__time {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
  }
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.little-text {
  font-weight: 500;
  font-size: 16px;
}

.sixth-screen {
  background: $pink;
  position: relative;
  padding-bottom: 35px;
  top: 35px;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    background-image: url('../img/bg-sixth-screen.svg');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
  }
}

.social-banner {
  padding: 390px 0 260px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-height: 650px;
  &__img {
    position: absolute;
    bottom: 0;
    left: 6%;
    z-index: 2;
  }
  &__img-mobile {
    display: none;
  }
  &__title {
    text-transform: uppercase;
    font-family: $heading-font;
    color: #ffffff;
    font-size: 96px;
    font-weight: 700;
    line-height: 96px;
    letter-spacing: 0em;
    text-align: left;
    position: absolute;
    top: 70px;
    left: 50%;
    z-index: 5;
    width: min-content;
  }
  &__content {
    position: absolute;
    z-index: 20;
    left: 55%;
  }
  &__text {
    color: #ffffff;
    font-family: $text-font;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    max-width: 370px;
  }
  &__btns {
    display: flex;
  }
  &__btn {
    background-color: #ffffff;
    color: #141414;
    font-family: $text-font;
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    max-width: 151px;
    width: 100%;
    padding: 14px 20px;
    border-radius: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 8px;
    margin-top: 40px;
    &>a {
      color: black;
    }
  }
}

.seventh-screen {
  width: 100%;
  background-color: #000000;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: relative;
  z-index: 20;
  padding: 77px 0 67px 0;
}

.footer {
  font-family: $text-font;
  padding: 0 8%;
  color: #ffffff;
  font-size: 13px;
  &__social-media {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    line-height: 20px;
  }
  &__mail-us {
    text-transform: uppercase;
    color: #FFFFFFB2;
    &>a {
      color: #ffffff;
    }
  }
  &__link {
    height: 48px;
    padding: 10px 24px 10px 20px;
    border: 1px solid #FFFFFF1A;
    border-radius: 32px;
    text-transform: uppercase;
    color: #ffffff;
    &>img {
      margin-right: 10px;
    }
  }
  &__sponsors {
    display: flex;
    justify-content: space-between;
    padding: 81px 0 51px 0;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
  }
  &__text {
    margin-top: 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
  }
  &__confidentiality-policy {
    &>a {
      color: rgba(255, 255, 255, 0.7);
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0.9px;
      text-transform: uppercase;
      border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    }
  }
  &__age {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.1)
  }
}

.circle {
  display: inline-block;
  position: relative;
  top: -7%;
  width: 3px;
  height: 3px;
  background-color: rgba(255, 255, 255);
  border-radius: 50%;
  margin: 0 8px;
}

.swiper {
  position: relative;
  left: calc((100vw - 1420px) / 2);
  padding: 50px 0 130px;
  &__slide {
    max-width: 340px;
    max-height: 450px;
    background-color: #ffffff;
    border-radius: 20px;
  }
  &__name {
    font-family: $text-font;
    margin: 0;
    padding: 20px 20px 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }
  &__description {
    margin: 0;
    padding: 0 20px 35px;
    font-size: 16px;
  }
  &__img {
    height: auto;
    width: 100%;
    max-width: 340px;
    max-height: 340px;
  }
  &__btns {
    position: relative;
    margin-top: 62px;
    width: 107px;
    height: 56px;
    padding: 12px;
    border-radius: 32px;
    border: 1px solid rgba(210, 212, 216, 1)
  }
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: '';
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: '';
}

.swiper-button-prev,
.swiper-button-next {
  background: transparent;
}

@media screen and (max-width: 1440px) {
  .swiper {
    left: 0;
    padding: 50px 32px 130px;
  }
  .container {
    padding: 0 32px;
  }
  .about-event__details {
    width: auto;
    margin-right: 61px;
    flex-shrink: 0;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: $x2;
    padding: 0 32px;
  }
  .timetable {
    &__tab {
      height: auto;
      width: 333px;
      padding: 14px 16px;
    }
    &__date {
      font-size: 16px;
      padding: 12px 20px;
      width: auto;
    }
  }
  .social-banner__img {
    left: -10%;
  }
  .banner__title,
  .social-banner__title {
    font-size: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: $x3;
  }
  .social-banner__btn {
    width: 151px;
  }
  .about-event {
    &__place {
      font-size: 14px;
    }
    &__date {
      font-size: 22px;
      margin-top: 36px 0 30px 0;
      max-width: 117px;
    }
    &__time {
      font-size: 16px;
    }
    &__text {
      font-size: 16px;
      padding-top: 0;
    }
  }
  h2 {
    font-size: 36px;
  }
  .timetable {
    &__tabs {
      flex-direction: row;
    }
    &__content {
      width: 100%;
    }
    &__events {
      margin-top: 26px;
    }
    &__wrapper {
      flex-wrap: wrap;
    }
  }
  .social-banner__text {
    font-size: 16px;
  }
  .footer__sponsors {
    padding: 70px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 142px;
    grid-row-gap: 50px;
    &>a {
      text-align: center;
    }
  }
  .seventh-screen {
    padding: 32px 0 22px 0;
  }
  .footer {
    padding: 0;
    &__link {
      display: inline-block;
    }
    &__text {
      margin-top: 15px;
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: $x4;
  }
  .header {
    display: block;
  }
  .stars {
    padding: 0;
    &__btn {
      padding: 10px 20px;
      line-height: 28px;
      font-size: 16px;
      margin-top: 36px;
    }
    &__title {
      line-height: 42px
    }
    &__text {
      font-size: 16px;
      line-height: 24px;
      max-width: 449px;
    }
  }
  .first-screen {
    &:after {
      background-position: right;
      background-size: cover;
      bottom: -17px;
      left: -81px;
      max-width: none;
    }
  }
  .burger-menu {
    width: 50%;
    &__list {
      margin-top: 50%;
    }
  }
  .little-text {
    font-size: 14px;
    color: #7E7E80;
  }
  .footer__social-media {
    flex-wrap: wrap;
  }
  .about-event__wrapper {
    padding: 80px 0 100px 0;
  }
  .about-event__text {
    max-width: 391px;
  }
  .banner {
    padding: 90px 0 604px;
    max-height: 884px;
    &__title {
      font-size: calc( 40px + 27.2 * (100vw - 375px) / 500);
      margin: 0 auto;
    }
    &__img {
      left: calc(50% - 315px);
      max-width: 631px;
    }
  }
  .swiper {
    left: 0;
    padding: 36px 32px 80px 32px;
    &__name {
      font-size: 16px;
      line-height: 19px;
      padding: 16px 16px 8px;
    }
    &__description {
      font-size: 14px;
      padding: 0 16px 20px;
    }
  }
  .timetable {
    padding: 50px 0;
    &__subtitle {
      font-size: 16px;
      margin-bottom: 32px;
    }
    &__event {
      padding: 14px 20px;
      border-radius: 20px;
    }
    &__event-info {
      padding: 0;
      justify-content: space-evenly;
      margin-left: 20px;
    }
    &__title {
      font-size: 36px;
      margin-bottom: 14px;
    }
    &__content {
      width: 100%;
    }
    &__img {
      max-width: 76px;
    }
    &__tabs {
      flex-wrap: wrap;
    }
    &__tab:last-child {
      margin-right: 0;
    }
    &__event-name {
      font-size: 16px;
    }
    &__time {
      font-size: 14px;
    }
  }
  .social-banner {
    padding: 300px 0 150px;
    &__content {
      left: 46%;
    }
    &__img {
      max-width: 531px;
      bottom: 35px;
    }
    &__title {
      left: 45%;
      font-size: calc(40px + (16 + 16 *0.7) * ((100vw - 375px) / 500));
    }
    &__btn {
      width: 151px;
    }
  }
  .sixth-screen {
    &:after {
      bottom: -25px;
      left: calc((100vw - 88%) / 2);
      max-width: 88%;
      background-size: cover;
    }
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: $x4;
    padding: 0 16px;
  }
  .arrow {
    width: 42px;
    height: 42px;
  }
  .header {
    &__wrapper {
      padding: 18px 16px;
    }
    &__logo {
      margin-right: 18px;
    }
  }
  .first-screen {
    &:after {
      bottom: 0;
      left: 0;
    }
  }
  .banner {
    padding: 102px 0 466px 0;
    &__title {
      line-height: 32px;
      font-size: 32px;
    }
    &__img {
      max-width: 414px;
      left: 2%;
    }
  }
  .swiper {
    padding: 20px 0 70px;
    &__slide {
      margin: 0 auto;
    }
    &__name {
      font-size: 20px;
      line-height: 24px;
      padding: 30px 20px 10px;
    }
    &__description {
      padding: 0 20px 35px;
      font-size: 16px;
    }
    &__btns {
      margin: 0;
      height: 48px;
    }
  }
  .burger-menu {
    width: 100%;
    &__logo {
      display: block;
    }
    &__list {
      margin: 19% 0 0 0;
    }
  }
  .stars {
    padding: 0;
    &__wrapper {
      flex-direction: column;
    }
    &__text {
      font-size: 14px;
      line-height: 21px;
    }
    &__btns {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }
    &__btn {
      padding: 10px 20px;
      font-size: 16px;
      line-height: 28px;
      margin: 0;
    }
    &__text {
      margin: 20px 0 30px 0;
    }
  }
  .about-event {
    &__wrapper {
      flex-direction: column;
      padding: 60px 0 50px 0;
    }
    &__date {
      font-size: 22px;
      margin: 30px 0 20px 0;
    }
    &__place {
      margin-bottom: 14px;
    }
    &__text {
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0.2px;
    }
  }
  h2 {
    font-size: 32px;
    line-height: 37.7px;
  }
  .footer {
    &__sponsors {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 35px;
      grid-row-gap: 48px;
      padding: 76px 0 82px 0;
    }
    &__link {
      margin-bottom: 8px;
    }
    &__mail-us {
      margin-bottom: 28px;
    }
    &__text {
      flex-direction: column;
      margin-top: 28px;
    }
    &__confidentiality-policy {
      margin-bottom: 24px;
      text-align: center;
      line-height: 20px;
    }
    &__confidentiality-policy>a {
      display: block;
    }
  }
  .social-banner {
    max-height: 556px;
    padding: 391px 0 156px;
    &__content {
      left: 16px;
      bottom: 67px;
    }
    &__title {
      left: 16px;
      top: 24px;
    }
    &__text {
      max-width: 270px;
      margin-bottom: 160px;
    }
    &__btns {
      flex-direction: column;
    }
    &__btn {
      margin-top: 8px;
    }
    &__img-mobile {
      display: block;
      position: relative;
      right: -16px;
      bottom: 60px;
      z-index: 2;
    }
    &__img {
      display: none;
      left: 17%;
      max-width: 494px;
    }
  }
  .sixth-screen {
    &:after {
      background-image: url('../img/bg-sixth-screen--mobile.svg');
      bottom: 0;
      left: 0;
      max-width: 100%;
    }
  }
  .seventh-screen {
    background-color: rgba(25, 25, 26, 1);
    padding: 48px 0 32px 0;
  }
  .circle {
    display: none;
  }
  .timetable {
    padding: 17px 0;
    &__date {
      padding: 7px 20px;
    }
    &__title {
      line-height: 42px;
    }
    &__subtitle {
      margin-bottom: 28px;
      letter-spacing: 0;
    }
    &__event {
      padding: 14px 16px;
    }
    &__img {
      max-width: 85px;
    }
    &__event-name {
      font-size: 14px;
    }
    &__time {
      font-size: 12px;
    }
    &__tab {
      margin-bottom: 14px;
    }
    &__events {
      margin-top: 22px;
    }
  }
  .little-text {
    font-size: 12px;
  }
}